@{
  Layout = "_Layout";
}

@using SST.ViewModels
@model LoginViewModel

<div>
  <h2>Log in with your account<</h2>
  <hr />

  @if(!ViewData.ModelState.IsValid) 
  {
    @Html.ValidationSummary("Please fix the following error(s) and try again") 
  }

  @using (Html.BeginForm())
  {
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)

    @Html.LabelFor(m => m.Password)
    @Html.EditorFor(m => m.Password)
    
    @Html.LabelFor(m => m.Password)
    @Html.EditorFor(m => m.Password)

    <input type="submit" value="Log in" />
  }
</div>