@{
  Layout = "_Layout";
}

@model SST.Models.Treat;

<div class="main-container">
  <h2>Treats</h2>
  <hr/>

  <p>Add a flavor to: @Html.DisplayFor(model => model.Name)</p>

  @using (Html.BeginForm())
  {
      @Html.HiddenFor(model => model.TreatId)

      @Html.Label("Select a flavor")
      @Html.DropDownList("FlavorId")

      <input type="submit" value="Save" />    
  }

  <div class="btm-bar">
    @Html.ActionLink("Back to Treats", "Index")
  </div>
</div>