@{
  Layout = "_Layout";
}

@model SST.Models.Treat;
@using SST.Models;

<div class="main-container">
  <h2>Treats</h2>
  <hr/>
  <h4>Add a new treat</h4>
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    
    @Html.LabelFor(model => model.Allergen)
    @Html.TextBoxFor(model => model.Allergen)
    
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description, new { @class = "large-field" })

    <input type="submit" value="Add new treat" />
  }
  
  <div class="btm-bar">
    <p>note: in order to add a tag for this treat, check out: "Manage Treats > "Edit Treat's Information"</p>
  </div>
</div>