@{
  Layout = "_Layout";
}

@model SST.Models.Treat;
@using SST.Models
@using System.Collections.Generic;
@using System.Security.Claims;

<div class="main-container">

  <h2>Treat Details:</h2>
  <hr/>
  <h3>@Html.DisplayFor(model => model.Name)</h3>
  @Html.DisplayNameFor(model => model.Allergen):
  @Html.DisplayFor(model => model.Allergen)
  <br>
  <br>
  @Html.DisplayFor(model => model.Description)

  <div>
    @if(@Model.JoinEntities.Count == 0)
    {
      <p>Flavors: this treat has no flavors added yet.</p>
      @if (User.Identity.IsAuthenticated)
      {
        <p>@Html.ActionLink("Add flavor", "AddFlavor", new { id = Model.TreatId })</p>
      }
    }
    else
    {
      <p>Flavors:</p>
      <ol>
        @foreach(FlavorTreat join in Model.JoinEntities)
        {
          <div class="siblings">
            <li>@Html.ActionLink($"{@join.Flavor.Name}", "Details", "Flavors", new { id = @join.FlavorId })</li>
            @using (Html.BeginForm("DeleteJoin", "Treats"))
            {
              @Html.Hidden("joinId", join.FlavorTreatId)
              <input type="submit" value="Remove Flavor"/>
            }
          </div>
        }
      </ol>
    }  
  </div>

@if (User.Identity.IsAuthenticated)
{
<hr/>
  <div class="btm-bar">
    @Html.ActionLink("Add flavor to this treat", "AddFlavor", new { id = Model.TreatId })
    @Html.ActionLink("Edit treat", "Edit", new { id = Model.TreatId })
    @Html.ActionLink("Delete this treat", "Delete", new { id = Model.TreatId })
  </div>
}
<hr/>
  <div class="btm-bar">
    @Html.ActionLink("Back to Treats", "Index")
    @Html.ActionLink("Check out Flavors", "Index", "Flavors")
  </div>
</div>
