<div class="header-section">

  @if (User.Identity.IsAuthenticated)
  {
    <div>
      <h2>Pierre's Sweet and Savory Treats</h2>
      @Html.ActionLink("Home", "Index", "Home", null, new { @class ="home-link-header" })
      <h3>@Html.ActionLink("Manager Panel", "Index", "Account")</h3>
    </div>

    <div class="account-bar">
      <p>Hello @User.Identity.Name!</p>
      @using (Html.BeginForm("LogOff", "Account"))
      {
        <input type="submit" class="btn btn-primary" value="Log out" />
      }
    </div>
  }

  else
  {
    <div>
      <h2>Pierre's Sweet and Savory Treats</h2>
      @Html.ActionLink("Home", "Index", "Home", null, new { @class ="home-link-header" })
    </div>

    <div class="account-bar">
      @Html.ActionLink("Register", "Register", "Account" ) /
      @Html.ActionLink("Login", "Login", "Account" )
    </div>
  }

</div>
